body {
    margin: 0;
    padding: 0%;
    width: 100vw;
    height: 100vh;
}

.contenedor {
    width: 100%;
    height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contenedor>.row {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

img {
    width: 18vw;
    height: 18vh;
    display: block;
    border: 2px solid white;
    opacity: .7;
}

img:hover {
    opacity: 1;
    transition: .5s;
}